@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#root{
    max-width: 300px;
    margin: 0 auto;
}
.congratulations{
    background-image: url('../img/1.jpg');
}
.dark{
    background-color: #0000006e;
}